
    <script>
        $(document).ready(function(){

            var array = [];
            if (localStorage['dishs'] != null)
            {
                console.log(JSON.parse(localStorage['dishs']));
                $.each(JSON.parse(localStorage['dishs']), function (i, item) {
                    array[array.length] = {
                        name: item.name,
                        price: item.price
                    };
                });
            }
                
                
                $(document).on("click", ".addDish", function () {
                    var name = $.trim($(this).parent().children(".nameDish").html());
                    var price = $.trim($(this).parent().children(".priceDish").html());

                    array[array.length] = {
                        name: name,
                        price: price
                    };
                    console.log(localStorage.length);
                   
                    
                    localStorage.setItem("dishs", JSON.stringify(array));  
                    console.log(localStorage['dishs']);

                });


                $.ajax({
                    url: "http://localhost:49585/api/Dishes/"+'@ViewBag.Dish',
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        
                       $.each(data, function(i, item){
                           $(".dish").append(
                               //"<p>"+item.name+item.price+"</p>"
                               "<div class='a'>" +
                                   "<div class='imageDish'>" + 
                                        "<img src='#' />" + 
                                    "</div>" +
                                    "<div class='nameDish'>" + item.name + "</div>" +
                                    "<div class='priceDish'>" + item.price + "</div>" + 
                                    "<div class='addDish'><span>+</span></div>" +
                                "</div>"
                            );
                       });
                    },
                    error: function(){
                        alert("error");
                    }
                });
            });
    </script>

    <div class="dish">

    </div>
    <div class="btnAdd">
        <span class="button">Ок</span>
    </div>



