@{
Layout= null;
}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>


<body>
    <script>
            $(document).ready(function(){

                $.ajax({
                    url: "http://localhost:49585/api/Dishes/"+'@ViewBag.Dish',
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        
                       console.log(data);
                       $.each(data, function(i, item){
                           $("body").append(
                               "<p>"+item.name+item.price+"</p>"
                            );
                       });
                    },
                    error: function(){
                        alert("error");
                    }
                });
            });
    </script>

</body>
</html>


