<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/js/jquery.maskedinput.js"></script>
<script>
    //Для вывода подсказки адресов
    var sToken = "a43f17c468f255d65228f0df983658ae97f37a51";

    $(document).ready(function () {

        //Событие нажатия на уменьшение количества заказа
        $(document).on("click", "#mCount", function () {
            var num = $(this).parent(".stepperInput").children("#numCount").val();
            if(num > 1)
            {
                num = Number(num) - Number(1);
                $(this).parent(".stepperInput").children("#numCount").val(num);
            }
        });

        //Событие нажатия на увеличение количества заказа
        $(document).on("click", "#addCount", function () {
            var num = $(this).parent(".stepperInput").children("#numCount").val();
            num = Number(num) + Number(1);
            $(this).parent(".stepperInput").children("#numCount").val(num);
        });

        //Событие нажатия блюда
        $(document).on("click", ".glBlock", function () {
            if ($(this).css("background") == "#ededed")
            {
                $(this).css("background", "#fff");
            }
            else
                $(this).css("background", "#ededed");
        });

    });

    //Маска номер телефона
    //1 пример
    jQuery(function ($) {
        $("#phone").mask("8(999) 999-9999");
    });
</script>





<script>
        $(document).ready(function(){
            
            var array = [];
            if (localStorage['dishs'] != null) {
                $.each(JSON.parse(localStorage['dishs']), function (i, item) {
                    array[array.length] = {
                        id: item.id,
                        name: item.name,
                        price: item.price,
                        restaurantid: item.restaurantid,
                        count: item.count
                    };
                    writeDishes(item.id, item.name, item.restaurantid, item.price, item.count);
                });
            }

            //Кнопка добавить заказ  
            $(document).on("click", ".addDish", function () {
                
                var id = $(this).children(".contentBlock").children(".title").children(".nameDish").data("dishid");
                var name = $.trim($(this).children(".contentBlock").children(".title").children(".nameDish").html());
                var price = $.trim($(this).children(".priceDish").html());
                var restaurantid = $(this).children(".priceDish").data("restaurantid");

                var count = $('[data-id ^="' + id + '"]').parent(".row").children(".countCart").children(".stepperInput").children("#numCount").val();
               
                if (count == null)
                {
                    array[array.length] = {
                        id: id,
                        name: name,
                        price: price,
                        restaurantid: restaurantid,
                        count: 1
                    };
                   writeDishes(id, name, restaurantid, price, 1);
                }
                else
                {
                    $('[data-id ^="' + id + '"]').parent(".row").children(".countCart").children(".stepperInput").children("#numCount").val(parseInt(count) + 1);
                    count = $('[data-id ^="' + id + '"]').parent(".row").children(".countCart").children(".stepperInput").children("#numCount").val();

                    $.each(array, function (i, item) {
                        if (item.id == id) {
                            item.count = Number(item.count + 1);
                        }
                    });
                }
                
                    //Вывод dishes rightBar
                    localStorage.setItem("dishs", JSON.stringify(array));
                
                });
            /////////////////////////////////////////////////////////////////////////////

                $.ajax({
                    url: "http://localhost:49585/api/Dishes/" + '@ViewBag.Dish',
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {

                        $.each(data, function (i, item) {
                            $(".dish").prepend( 
                                  "<div class='row glBlock a addDish'> " +
                                    "<div class='col-lg-3 imagesBlock'>" + 
                                        "<img src='http://mario.pizza/upload/c66e6968-7d12-48b5-840a-28e57fd81ae2/original/eae6b96d-f5a8-4bb8-8e6d-796de5c0f1ac.jpg' style='width: 100%;' />" + 
                                    "</div>" + 
                                    "<div class='col-lg-7 contentBlock'>" + 
                                        "<div class='title'> <h3 class='nameDish' data-dishid=" + item.id + ">" + item.name + " </h3></div>" +
                                        "<div class='other'> as das ds d asd sad sadasds adsa dasdsad asdasdasdasd  </div>" + 
                                    "</div>" + 
                                    "<div class='col-md-2 priceBlock priceDish' data-restaurantid='" + item.restaurantId + "'>" + item.price + "</div>" +
                                "</div>" 
                             );
                        });
                    },
                    error: function () {
                        alert("error");
                    }
                });
            //Вывод блюд в корзину
            function writeDishes(id, name, restaurantId, price, count) {
                $(".dishesRightBar").prepend(
                    "<div class='row' style='margin-bottom: 5px;'>" +
                        "<div class='titleCart col-md-4' data-id=" + id + " data-restaurantid='" + restaurantId + "'>" + name + "</div>" +
                        "<div class='countCart col-md-3'>" +
                            "<div class='stepperInput'>" +
                                "<button class='button button--addOnLeft' id='mCount'>-</button>" +
                                "<input type='text' placeholder='Age' value="+count+" class='input stepperInput__input' id='numCount' />" +
                                "<button class='button button--addOnRight' id='addCount'>+</button>" +
                            "</div>" +
                        "</div>" +
                        "<div class='priceCart col-md-4'>" + price + "</div>" +
                    "</div>"
                    );
            }

            $("#btnZakazat").on("click", function () {
                var a = proverkaPrice();
                var array = [];
                $.each(JSON.parse(localStorage['dishs']), function (i, item) {
                    array[array.length] = {
                        id: item.id,
                        name: item.name,
                        price: item.price,
                        restaurantid: item.restaurantid,
                        count: Number( $('[data-id ^="' + item.id + '"]').parent(".row").children(".countCart").children(".stepperInput").children("#numCount").val() )
                    };
                });
                console.log(array);
                //Обновить состояниа localStorage
                localStorage.setItem("dishs", JSON.stringify(array));

                //Итого
                $(".mprice").html(a);
            });

            function proverkaPrice()
            {
                var arrayDish = [];
                arrayDish = JSON.parse(localStorage['dishs']);

                var sumPrice = 0;
                $.each(arrayDish, function (i, item) {
                    //Проверка    
                    $.ajax({
                        url: "http://localhost:49585/api/Order/" + item.id,
                        async: false,
                        type: "GET",
                        contentType: "application/json",
                        success: function (data) {
                            sumPrice += data[0].price;
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                return sumPrice;
            }
            //Получение массива блюд???????
            function getDishes()
            {
                var arrayDish = [];
                arrayDish = JSON.parse(localStorage['dishs']);

                var arr = new Array();
                $.each(arrayDish, function (i, item) {
                    //Проверка    
                    $.ajax({
                        url: "http://localhost:49585/api/Order/" + item.id,
                        async: false,
                        type: "GET",
                        contentType: "application/json",
                        success: function (data) {
                            arr[i,0] = data[0].id;
                            arr[i,1] = data[0].name;
                            arr[i,2] = data[0].price;
                            arr[i,3] = data[0].restaurantId;
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                return arr;
            }


            $("#btnOk").on("click", function ()
            {
                   
                    ////get price
                    var arrayDish = [];
                    var price = proverkaPrice();
                    arrayDish = JSON.parse(localStorage['dishs']);
                    var restid = arrayDish[0].restaurantid;

                    var arrayPerson = [];
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; 
                    var yyyy = today.getFullYear();

                    if (dd < 10) {
                        dd = '0' + dd
                    }

                    if (mm < 10) {
                        mm = '0' + mm
                    }
                    var stringId = Math.random().toString(36);
                   
                    today = yyyy + '-' + mm + '-' + dd;
                    console.log(arrayDish);
                /////////////ORDER DOBAVLENIE
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:49585/api/Order",
                        contentType: "application/json",
                        data: JSON.stringify({
                            adress: $("#address").val(),
                            order_date: today,
                            phone: $("#phone").val(),
                            price: price,
                            name:  $("#person").val(),
                            restaurantId: restid,
                            StringId : stringId
                        }),
                        success : function()
                        {
                            alert("doneORDER");
                        },
                        error : function()
                        {
                            alert("errorORDER");

                        }

                    });
                ///////////////////////////CART DOBAVLENIE
                    $.each(arrayDish, function (i, item) {
                        var count = item.count;
                        //if(item)
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:49585/api/Cart",
                            contentType: "application/json",
                            data: JSON.stringify({
                                DishId: item.id,
                                OrderId: stringId,
                                Quantity : count

                                
                            }),
                            success: function () {
                                alert("doneCART");
                            },
                            error: function () {
                                alert("errorCART");

                            }
                        
                        });
                    });
                  /*  
                    */
                });
            
            });
    </script>


    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Оформление заказа</h4>
            </div>
            <div class="modal-body">
                <!-- Content -->
                <form method="post">
                    <input id="person" name="Person" type="text" class="form-control" placeholder="Введите ваше имя" style="margin: 0 auto;">
                    <input id="phone" name="Phone" type="text" class="form-control" placeholder="Введите номер телефона" style="margin: 0 auto; margin-bottom:10px;">
                    <input id="address" name="Address" type="text" class="form-control" placeholder="Введите адрес доставки" style="margin: 0 auto;" value="">

                    <!-- Подсказака вывода адреса -->
                    <link href="https://cdn.jsdelivr.net/jquery.suggestions/16.10/css/suggestions.css" type="text/css" rel="stylesheet" />
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                    <!--[if lt IE 10]>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
                    <![endif]-->
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.suggestions/16.10/js/jquery.suggestions.min.js"></script>
                    <script type="text/javascript">

                            $("#address").suggestions({
                                token: sToken,
                                type: "ADDRESS",
                                count: 5,
                                /* Вызывается, когда пользователь выбирает одну из подсказок */
                                onSelect: function (suggestion) {
                                    console.log(suggestion);
                                }
                            });
                    </script>
                    <!--  -->

                </form>

                <div class="sumPrice">
                    <span>Итого</span>
                    <span class="mprice"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary openCart" id="btnOk">Оформить</button>
            </div>
        </div>
    </div>
</div>


    <div class="col-md-8 dish" style="margin-top: 15px;">
        
    </div>

    <div class="col-md-4 row rightBar" id="app">
        <div class="dishesRightBar">

        </div>

        <div style="margin-top:10px;">
            <button id="btnZakazat" class="btn btn-success" data-toggle="modal" data-target="#myModal" style="width:100%;">
                Заказать
            </button>
        </div>
    </div>



    

<style>
    .cartWin{
        width: 100%;
        min-height: 400px;
        /*display: block;*/
        padding: 20px;
    }
    .formInfo{
        list-style:none;
    }
</style>



